body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff5e6;
}

/* 왼쪽 달걀 이미지 영역 */
.img-egg {
  width: 570px;
  height: 556px;
  margin-right: 100px;
}

/* 오른쪽 타이머 영역 (title) */
.title-container {
  margin-bottom: 34px;
}
.title-main {
  margin-bottom: 15px;
  font-size: 60px;
  font-weight: 500;
  color: #223173;
  letter-spacing: -3.6px;
}
.title-sub {
  font-size: 24px;
  color: #223173;
}

/* 오른쪽 타이머 영역 (title) */
.timer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 31px 0;
}
.timer-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 180px;
}
.timer-time {
  font-size: 80px;
  font-weight: 500;
  color: #223173;
}
.timer-info {
  font-size: 20px;
  font-weight: 500;
  color: #223173;
}

.button-style {
  border: 0;
  width: 235px;
  font-size: 20px;
  color: white;
  background-color: #223173;
  cursor: pointer;
}

.button-small {
  height: 55px;
}

.button-large {
  height: 110px;
}
