/* Bold 버전 불러오기 */
@font-face {
  font-family: "GmarketBold";
  src: url("../src/font/GmarketSansTTFBold.ttf") format("truetype");
}

/* Medium 버전 불러오기 */
@font-face {
  font-family: "GmarketMedium";
  src: url("../src/font/GmarketSansTTFMedium.ttf") format("truetype");
}

/* 폰트 적용하기 */
* {
  font-family: "GmarketMedium";
}

body {
  padding-top: 100px;
  background-color: #e3fbee;
}

body::-webkit-scrollbar {
  display: none;
}

/* 공통 스타일 */
.section-title {
  padding: 100px 0;
  text-align: center;
  font-family: "GmarketBold";
  font-size: 40px;
}

.title-highlight {
  color: #07d764;
}

/* 헤더 (Header) */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px 0;
  background-color: #ffffff;
  z-index: 10;
  border-bottom: 7px solid #000000;
}

.container-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.title-header {
  margin-right: 300px;
  font-size: 32px;
  font-family: "GmarketBold";
  letter-spacing: -2px;
}

.container-navigation {
  display: flex;
}

.list-navigation {
  margin-left: 70px;
  font-family: "GmarketBold";
  font-size: 16px;
  letter-spacing: -0.5px;
}
.list-navigation:hover {
  color: #07d764;
  transition: 0.2s ease-out;
}

.progressbar {
  position: absolute;
  bottom: -7px;
  left: 0;
  height: 7px;
  background-color: #07d764;
}

/* 
intro 섹션 
*/
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}

.intro-subtitle {
  font-size: 32px;
}

.intro-title {
  margin: 20px 0 40px;
  font-family: "GmarketBold";
  font-size: 40px;
}

.intro-detail {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: -1px;
}

.intro-link {
  position: relative;
  padding: 20px 30px;
  border-radius: 30px;
  background-color: #07d764;
  font-family: "GmarketBold";
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  transition: background-color 0.4s ease-out;
}
.intro-link:hover {
  background-color: #000000;
}
.intro-link::after {
  content: "";
  vertical-align: middle;
  display: inline-block;
  margin-left: 8px;
  width: 9px;
  height: 14px;
  background: url(../src/img/icon_arrow_right.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 250px;
  width: 30%;
  min-width: 270px;
  max-width: 300px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: #07d764;
}

.intro-img {
  width: 120px;
}

/* 
about 섹션 
*/
.about {
  padding-bottom: 150px;
  background-color: #ffffff;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-container {
  margin-right: 100px;
  position: relative;
  width: 438px;
  height: 438px;
  overflow: hidden;
}

.carousel-images {
  display: flex;
}

.carousel-images img {
  width: 438px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.carousel-button {
  position: absolute;
  top: 50%;
  /* transform: translateY(-50%); */
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  background-color: rgba(256, 256, 256, 0.3);
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  transition: background-color 0.4s;
  cursor: pointer;
}

.carousel-button.next {
  right: 0;
}

.carousel-button.prev {
  left: 0;
}

/* .carousel-button:disabled {
  display: none;
} */

.carousel-button:hover {
  background-color: rgba(256, 256, 256, 0.7);
  color: #000000;
}

.about-title {
  margin-bottom: 20px;
  font-size: 32px;
  font-family: "GmarketBold";
  letter-spacing: -1px;
}

.about-detail {
  font-size: 18px;
  color: #b3b3b3;
}

.about-info {
  margin: 55px 0;
}

.info-item dt {
  display: inline-block;
  margin-bottom: 17px;
  width: 110px;
  font-size: 22px;
  font-family: "GmarketBold";
  color: #07d764;
}
.info-item dd {
  display: inline-block;
  font-size: 20px;
  letter-spacing: -1px;
}

.about-button-container {
  display: flex;
}

.about-button {
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding: 10px 30px 10px 10px;
  border-radius: 40px;
  border: none;
  background-color: #07d764;
  font-family: "GmarketBold";
  font-size: 15px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.4s;
}
.about-button:hover {
  background-color: #000000;
}

.about-button > img {
  margin-right: 15px;
  padding: 10px;
  width: 25px;
  background-color: #ffffff;
  border-radius: 30px;
}

/* 
about 섹션 모달 
*/
.modal-container {
  display: none; /* 모달 기본 상태는 숨김 처리 */
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal-content {
  display: flex;
  align-items: center;
  padding: 60px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.modal-title,
.modal-subtitle {
  font-family: "GmarketBold";
}

.modal-title {
  margin-bottom: 15px;
  font-size: 32px;
  color: #000000;
}

.modal-subtitle {
  font-size: 24px;
  color: #07d764;
}

.modal-image {
  margin-right: 50px;
  width: 350px;
  height: 350px;
}

.modal-detail {
  margin: 30px 0;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.8px;
}

.modal-close-button {
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
  background-color: #07d764;
  font-size: 16px;
  color: white;
  font-family: "GmarketBold";
  transition: background-color 0.3s ease-out;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #000000;
}

/* 
project 섹션
*/
.container-project {
  display: flex;
  justify-content: center;
  padding-bottom: 150px;
}

.card-project {
  margin: 0 20px;
  padding: 50px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.date-project {
  margin-bottom: 15px;
  font-size: 18px;
  color: #b3b3b3;
}

.title-project {
  font-size: 32px;
  font-family: "GmarketBold";
}

.img-project {
  width: 400px;
  margin: 30px 0;
}

.text-skill {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 6px;
  padding: 4px 8px;
  font-size: 16px;
  font-family: "GmarketBold";
  border: 3px solid;
  border-radius: 3px;
}
.text-skill.html {
  color: #e44d26;
}
.text-skill.css {
  color: #1f62ae;
}
.text-skill.js {
  color: #f1c023;
}

/* 
skills 섹션
*/
.section-skills {
  padding-bottom: 150px;
  background-color: #ffffff;
}

.container-skills {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-skills {
  text-align: center;
  padding: 40px;
}
.card-skills.html {
  background-color: #e44d26;
}
.card-skills.css {
  background-color: #1f62ae;
}
.card-skills.js {
  background-color: #f1c023;
}

.img-skills {
  margin: 0 auto;
  width: 80px;
}

.title-skills {
  padding: 20px 0;
  font-family: "GmarketBold";
  font-size: 24px;
  font-weight: 700;
  color: white;
}

.detail-skills {
  font-size: 15px;
  line-height: 25px;
  color: white;
  letter-spacing: -0.6px;
}

/* 
푸터 (footer)
*/
#footer {
  text-align: center;
}

.list-contact {
  display: inline-block;
  margin: 0 35px 100px;
}

.img-contact {
  margin-bottom: 20px;
  padding: 15px;
  width: 35px;
  border-radius: 10px;
  background-color: #ffffff;
}
.img-contact:hover {
  background-color: #07d764;
  cursor: pointer;
  transition: 0.4s ease-out;
}

.label-contact {
  font-size: 12px;
}

.copyright {
  padding: 15px 0;
  background-color: #07d764;
  font-size: 13px;
  color: white;
}

/* moveTop 버튼 */
.button-totop {
  position: fixed;
  right: 60px;
  bottom: 60px;
  width: 60px;
  height: 60px;
  background: url(../src/img/icon_arrow_top_black.png);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.button-totop:hover {
  background-image: url(../src/img/icon_arrow_top_green.png);
  transition: 0.5s ease-out;
}
