#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #6f8a6b;
}

/* 왼쪽 달걀 이미지 영역 */
.img-egg {
  width: 518px;
  height: 524px;
  margin-right: 100px;
}

/* 오른쪽 타이머 영역 */
/* title */
.title-container {
  margin-bottom: 34px;
}
.title-main {
  margin-bottom: 15px;
  font-size: 60px;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: -3.6px;
}
.title-sub {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
}

/* timer */
.button-small {
  border: 0;
  width: 235px;
  height: 55px;
  background-color: #325334;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.button-small:hover {
  opacity: 0.7;
}
.timer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 31px 0;
}
.timer-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 180px;
  background-color: rgba(255, 255, 255, 0.2);
}
.timer-time {
  font-size: 80px;
  font-weight: 500;
  color: white;
}
.timer-info {
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.button-large {
  width: 235px;
  height: 110px;
  border: 0;
  font-size: 20px;
  color: white;
  background-color: #325334;
  cursor: pointer;
}
.button-large:hover {
  opacity: 0.7;
}

.button-style {
  border: 0;
  font-size: 20px;
  color: white;
  background-color: #325334;
  cursor: pointer;
}

.button-small {
  width: 235px;
  height: 55px;
}

.button-large {
  width: 235px;
  height: 110px;
}
