/* Bold 버전 불러오기 */
@font-face {
  font-family: "GmarketBold";
  src: url("../src/font/GmarketSansTTFBold.ttf") format("truetype");
}

/* Medium 버전 불러오기 */
@font-face {
  font-family: "GmarketMedium";
  src: url("../src/font/GmarketSansTTFMedium.ttf") format("truetype");
}

/* 폰트 적용하기 */
* {
  font-family: "GmarketMedium";
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8e799;
  /* height: 100vh; */
}

.quiz-container {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  /* height: 100vh; */
  /* min-width: 532px;
  background-color: #ffc15e; */
}

.quiz-progress {
  margin-top: 30px;
  border-radius: 2px;
  width: 60%;
  height: 14px;
}
.quiz-progress::-webkit-progress-bar {
  background-color: #fbcc88;
  border-radius: 2px;
}
.quiz-progress::-webkit-progress-value {
  background-color: #f85021;
  border-radius: 2px;
}

.quiz-subtitle {
  margin-bottom: 20px;
  text-align: center;
  font-family: "GmarketBold";
  font-size: 24px;
  color: #f85021;
  letter-spacing: -0.4px;
}
.quiz-title {
  /* margin-top: 30px; */
  text-align: center;
  font-family: "GmarketBold";
  font-size: 48px;
  color: #812000;
  letter-spacing: -0.6px;
}

.highlight {
  /* margin-bottom: 60px; */
  display: inline-block;
  font-size: 64px;
  line-height: 55px;
  color: #f85021;
  transform: rotate(-5deg) translateY(15px);
}

.quiz-image {
  width: 200px;
}

.quiz-start-button {
  font-size: 24px;
  letter-spacing: -0.6px;
  color: #f85021;
}

.author-name {
  font-size: 20px;
  letter-spacing: -1px;
  color: #812000;
}

.quiz-question {
  text-align: center;
  font-size: 28px;
  line-height: 35px;
  color: #812000;
  letter-spacing: -0.4px;
}

.quiz-button-container {
  width: 100%;
  text-align: center;
}

.quiz-question-button {
  width: 500px;
  margin-bottom: 30px;
  padding: 25px 40px;
  border: none;
  border-radius: 100px;
  background-color: #f85021;
  font-family: "GmarketBold";
  font-size: 24px;
  letter-spacing: -0.6px;
  color: white;
  cursor: pointer;
}
.clicked {
  background-color: #812000;
}
.quiz-question-button:hover {
  background-color: #812000;
}

/* 결과 화면 */
.quiz-result-subtitle {
  text-align: center;
}

.quiz-category-title {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #812000;
}

.quiz-question-title {
  font-size: 24px;
  line-height: 35px;
  font-family: "GmarketBold";
  color: #812000;
  letter-spacing: -0.4px;
}

.quiz-result-title {
  font-family: "GmarketBold";
  font-size: 44px;
  letter-spacing: -0.6px;
  color: #f85021;
}

.quiz-tag-list {
  text-align: center;
  width: 60%;
}

.quiz-tag {
  display: inline-block;
  margin-right: 5px;
  font-family: "GmarketBold";
  font-size: 24px;
  line-height: 32px;
  color: #f85021;
  letter-spacing: -0.4px;
}

.quiz-description {
  width: 70%;
}

.quiz-description-text {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #812000;
}
