/* Bold 버전 불러오기 */
@font-face {
  font-family: "GmarketBold";
  src: url("../src/font/GmarketSansTTFBold.ttf") format("truetype");
}

/* Medium 버전 불러오기 */
@font-face {
  font-family: "GmarketMedium";
  src: url("../src/font/GmarketSansTTFMedium.ttf") format("truetype");
}

@font-face {
  font-family: "LotteriaChab";
  src: url("../src/font/LotteriaChab.ttf") format("truetype");
}

#app {
  background-color: #f5e6cf;
}

/* 폰트 적용하기 */
* {
  letter-spacing: -0.8px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  background-color: #f5e6cf;
}

.quiz-container {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  /* width: 30%; */
}

.quiz-subtitle {
  margin-bottom: 20px;
  text-align: center;
  font-family: "LotteriaChab";
  font-size: 32px;
  color: #df2b24;
  letter-spacing: -0.4px;
}
.quiz-title {
  /* margin-top: 30px; */
  text-align: center;
  font-family: "LotteriaChab";
  font-size: 60px;
  color: #df2b24;
  letter-spacing: -0.6px;
}

.quiz-image {
  margin: 70px 0;
  width: 200px;
}

.quiz-icon-arrow {
  width: 20px;
}

.quiz-start-button {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 00;
  color: #df2b24;
  letter-spacing: -0.8px;
}

.quiz-number {
  margin-bottom: 30px;
  font-size: 42px;
  font-family: "LotteriaChab";
  color: #df2b24;
}

.quiz-question {
  margin-bottom: 40px;
  text-align: center;
  font-size: 28px;
  line-height: 35px;
  font-family: "LotteriaChab";
  color: #df2b24;
}

.quiz-question-button {
  display: block;
  width: 500px;
  margin-bottom: 15px;
  padding: 25px 40px;
  border: none;
  border-radius: 10px;
  background-color: white;
  font-size: 20px;
  color: #241600;
  cursor: pointer;
}
.clicked {
  background-color: #df2b24;
  color: #fff;
}

/* 결과 화면 */
.quiz-result-subtitle {
  text-align: center;
}

.quiz-category-title {
  margin-bottom: 20px;
  text-align: center;
  font-family: "LotteriaChab";
  font-size: 32px;
  color: #df2b24;
  letter-spacing: -0.4px;
}

.quiz-result-title {
  font-family: "LotteriaChab";
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -0.6px;
  color: #df2b24;
  text-align: center;
}

.quiz-tag-list {
  text-align: center;
  width: 30%;
}

.quiz-tag {
  display: inline-block;
  margin-right: 5px;
  font-family: "LotteriaChab";
  font-size: 32px;
  line-height: 40px;
  color: #df2b24;
  letter-spacing: -0.4px;
}

.quiz-description {
  width: 35%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: white;
  padding: 50px;
}

.quiz-description-text {
  font-size: 20px;
  line-height: 28px;
  color: #241600;
  letter-spacing: -1px;
}

.result-button {
  padding: 40px 0;
  width: 100%;
  border: none;
  background-color: #df2b24;
  font-size: 32px;
  font-family: "LotteriaChab";
  color: white;
  cursor: pointer;
}

.restart-button {
  margin: 20px 0 150px;
  background-color: #241600;
  color: white;
  padding: 25px 40px;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  width: 35%;
}
